<!DOCTYPE html>
<html>
<head>
	<title>Edit snake</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>Edit snake</h1>
	<form action=<%= "/snake/" + snake._id %> method="post">
		<label>Name: <input type="text" name="name" value=<%= snake.name %>></label>
		<label>Venomous? <input type="radio" name="venom" value="Yes" checked>Yes
		<input type="radio" name="venom" value="No">No</label>
		<input type="submit" value="update" class ="btn">	
	</form>
	<% if (typeof err != "undefined") { %>
	<h3><%= err %></h3>
	<% } %>
</body>
</html>