* {
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}
.btn {
	border: 1px solid green;
	background: darkgreen;
	color: white;
	padding: 8px;
	font-size: 15px;
	text-decoration: none;
	border-radius: 20px;
	display: inline-block;
	margin: 20px auto;
}
.btn:hover {
	cursor: pointer;
}
h1 {
	margin: 30px;
}
label {
	display: block;
	margin: 20px;
}
p {
	font-size: 20px;
}
form {
	display: inline-block;
}
hr {
	margin-bottom: 20px;
}